---
http_interactions:
- request:
    method: get
    uri: http://data.fcc.gov/api/license-view/basicSearch/getLicenses?format=json&searchValue=Watson
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","Licenses":{"page":"1","rowPerPage":"100","totalRows":"2105","lastUpdate":"Apr
        30, 2012","License":[{"licName":"ANNE WATSON ELEMENTARY","frn":"0007572050","callsign":"WPWE898","categoryDesc":"Land
        Mobile Radio","serviceDesc":"Industrial/Business Pool, Conventional","statusDesc":"Active","expiredDate":"10/31/2012","licenseID":"2457698","licDetailURL":"http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?__newWindow=false&licKey=2457698"},{"licName":"ARCH
        W WATSON ENT INC","frn":"","callsign":"WPJN367","categoryDesc":"Land Mobile
        Radio","serviceDesc":"Industrial/Business Pool, Conventional","statusDesc":"Expired","expiredDate":"08/06/2001","licenseID":"1738806","licDetailURL":"http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?__newWindow=false&licKey=1738806"},{"licName":"ARNOLD,
        WATSON J","frn":"","callsign":"PGG[...]
